* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  color: var(--color-copy);
}

body {
  margin: 0;
  /* padding-top: 7.75rem; empura o conteúdo da pagina para baixo da barra de nav */
}

header,
main,
footer {
  overflow-x: clip; /* faz com que o conteúdo de uma seção não ultrapasse seu limite */
}

/* Estilização padrão para todas as listas */

ul {
  display: flex; /* coloca a lista um ao lado do outro */
  list-style: none; /* tira a decoração padrão da lista */
  padding-left: 0;
}

/* Container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

