/* Botão-Banner */
.btn--slide a {
  text-decoration: none;
  color: unset;
}

.institutional__copy a {
  text-decoration: none;
  color: unset;
}

.quote__copy a {
  text-decoration: none;
  color: unset;
}

.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;

  border: 0.125rem solid #fff;
  border-radius: 5rem;

  color: var(--color-primary);
  background: unset; /* Resetar para um valor neutro */

  font-size: 0.9375rem;
  font-weight: 900;
  text-transform: uppercase;

  transition: 0.5s all ease; /*transição para animação do botão. ("0.5s" tempo da anim. "all" tudo. "ease" curva de animação) */
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contato {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}


                /* Botão section Institucional */

.btn--institutional,
.btn--quote {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .btn--institutional,
  .btn--quote {
    display: inline;
  }
}

.btn--institutional:hover,
.btn--contato:hover {
  color: var(--color-copy) !important;
  background: unset;
  box-shadow: 0 1rem 1rem #0006; /* EFEITO SOMBRA NO BOTÃO ( x, y, blur, cor */
}

.btn--contato:hover {
  color: #fff;
}

                /* Botão section Cotação */
.btn--quote {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
}