main {
    background-color: #000;
}

.photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 160px;
    padding-bottom: 170px;
}

.row-photo {
    display: grid;
    justify-self: center;
}

.row-photo img {
    margin-bottom: 35px;
    cursor: pointer;
}

.row-photo img:hover {
    width: 300px;
}