/* Cabeçalho "HEADER" */

/*Slide-Banner*/
.slider {
  background-color: #000;
  color: #fff;
  /* METODO PARA COLOCAR IMAGEM PELO CSS */
  /* background-image: url('./images/banner.jpg');*/
  /* background-size: cover;  Tamanho da imagem ("cover" ajusta a imagem para que ocupe toda a área da caixa sem deforma-la)*/
  /* background-repeat: no-repeat;  Imagem não se repete */
  /* background-position: center; Centralizar imagem */
}

.slide {
  position: relative; /* "relative" faz com que o conteúdo de dentro da class "slide" não seja movida para fora de sua delimitação */

  /*height: calc(100vh - 7.75rem);  "calc" serve para calcular valores, no caso calcular altura exata que o header deve ocupar. ("100vh" é a altura total "-" menos os "7.75rem" da barra de navegação)*/
  height: 90vh;
}

.slide__background-image {
  width: 100%;
  height: 100%;

  object-fit: cover; /* Ajusta a imagem e tira a distoção ("cover" ajusta a imagem para que ocupe toda a área da caixa sem deforma-la) */
  object-position: center; /*Centralizar imagem*/
}

.slide__copy {
  position: absolute; /* "absolute" faz com que as informações que estão atrás do banner se sobrepunha a ela e fique por cima*/
  top: 6.25rem;
  left: 50vw;
}

/*Info-Banner*/

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1875rem; /* Espaçamento entre uma letra e outra */
}

.slide__copy h2 {
  font-size: 6.25rem;
  text-transform: uppercase;
  line-height: 6.25rem;
}

.slide__copy h2 span {
  display: block;
}


/* section info-number */

.counter {
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
}

.counter__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* REPEATE define o "auto-fill" número auto de colunas com responsividade, "minmax" valor minimo e máximo, "(300px, 1fr)" primeiro valor é o min e o segundo o valor máximo */
  place-items: center; /* Centraliza os grids no centro */

  padding: 4.375rem 1rem;
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small {
  display: block; /*Quebrar linha*/
  font-size: 1.25rem;
}

/* Seção institutional */

.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem; /*Define espaçamento entre um elemento e outro */
  align-items: center; /* centralizar conteúdo */

  padding: 4.375rem;
}

.institutional__image {
  max-width: 550px;
}

.institutional__copy {
  padding: 0 1.875rem;
}

.institutional__copy h6 {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem;

  margin-top: 1rem;
}

.institutional p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}


/* Seção Cotação */

.quote {
  /* Efeito Parallax */
  background-image: url(../images/parallax.jpg);
  /* min-height: 80vh;  transferido para o "quote__container" */
  background-attachment: fixed; /* Efeito parallax onde a imagem fica fixa no plano de fundo e a pág rola por cima */
  background-repeat: no-repeat;
  background-size: cover; /* Faz com que a imagem ocupe toda a área da sua Seção */
  background-position: center;
}

.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;

  min-height: 80vh;
}

.quote__copy {
  background-color: #fff;

  padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;

  letter-spacing: 0.1875rem;
  line-height: 1.4375rem;

  max-width: 54ch;

  text-transform: uppercase;
  margin: 0;
}

.quote__copy h2 {
  font-size: 5rem;
  font-weight: 700;

  line-height: 5rem;
  letter-spacing: -0.1875rem;

  text-transform: uppercase;

  margin: 1.875rem 0;
}

.quote__copy h2 span {
  display: block; /* Quebrar linha */
}